
@model LancheListViewModel

<div class="container my-5">
    <h2 class="text-center mb-4">@Model.CategoriaAtual</h2>

    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <partial name="_LanchesResumo" for="@lanche" />
            
        }
    </div>
</div>
